<div class="container">
  <h2>LOGIN</h2>
  <hr>
  <form [formGroup]="form" (ngSubmit)="onLogin(form.value)">
    <label for="email">EMAIL ADDRESS</label>
    <div *ngIf="form.get('email').errors && (form.get('email').dirty || form.get('email').touched)" class="text-danger">
      <div *ngIf="form.get('email').errors.required">
        email is required.
      </div>
    </div>
    <input type="text" name="email" class="form-control" formControlName="email" autocomplete="off">
    <br>
    <label for="password">PASSWORD</label>
    <div *ngIf="form.get('password').errors && (form.get('password').dirty || form.get('password').touched)"
      class="text-danger">
      <div *ngIf="form.get('password').errors.required">
        password is required.
      </div>
    </div>
    <input type="password" name="password" class="form-control" formControlName="password">

    <br>
    <input type="submit" id="btnSubmit" value="LOGIN" class="btn btn">
    <br>
    <label style="margin-left: 35%;margin-top: 10px;">.<span routerLink="/public/register">Register here</span></label>
  </form>
</div>