 <div class="container">
    <h2 class="text-center">FAQs</h2>
      <div *ngIf="data" id="accordion">
          <div class="card" *ngFor="let faq of data">
              <div class="panel-heading card-header" role="tab" [id]="'heading'+faq.id">
                  <h4 class="panel-title">
                      <a role="button" class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+faq.id" aria-expanded="true" [attr.aria-controls]="'collapse'+faq.id">
                          {{faq.ques}}
                      </a>
                  </h4>
              </div>
              <div [id]="'collapse'+faq.id" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading'+faq.id">
                  <div class="panel-body collapse show">
                      {{faq.ans}}
                  </div>
              </div>
          </div>
        </div>
</div>
  