<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3> PROFILE</h3>
      <br>
      <form [formGroup]="profileForm" (ngSubmit)="onUpdate()">
        <div class="flex-container">
          <div class="form-group">
            <label>FIRST NAME</label>
            <input type="text" formControlName="firstname" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; profileForm.controls.firstname.errors }" />
            <div *ngIf="submitted &amp;&amp; profileForm.controls.firstName.errors" class="text-danger">
              <div *ngIf="profileForm.controls.firstname.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>EMAIL</label>
            <input type="email" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.email.errors }" />
            <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
              <div *ngIf="registerForm.controls.email.errors.required">Email is required</div>
              <div *ngIf="registerForm.controls.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>
        <div class="flex-container">
          <div class="form-group">
            <label>PHONE NUMBER</label>
            <input type="number" formControlName="phone_number" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; profileForm.controls.phone_number.errors }" />
            <div *ngIf="submitted &amp;&amp; profileForm.controls.phone_number.errors" class="text-danger">
              <div *ngIf="profileForm.controls.phone_number.errors.required">Phone number is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>ADDRESS</label>
            <input type="text" formControlName="address" class="form-control"
              [ngClass]="{ 'is-invalid': submitted &amp;&amp; profileForm.controls.address.errors }" />
            <div *ngIf="submitted &amp;&amp; profileForm.controls.address.errors" class="text-danger">
              <div *ngIf="profileForm.controls.address.errors.required">Address is required</div>
            </div>
          </div>
        </div>
        <div class="flex-container">
          <div class="form-group ">
            <label>BRIEF MEDICAL HISTORY OF THE PATIENT</label>
            <input type="text" formControlName='brief' class="form-control" />
          </div>
          <div class="form-group button">
            <input type="submit" id="btnSubmit" value="UPDATE PROFILE" class="btn btn">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>